<div class="text-center mt-5">
    <div class="desclaimer container">
        <div class="alert alert-danger" role="alert">
            <b>Note: </b>This login page is for administrators only. <br>Access requires admin credentials from a respected authority.
        </div>
    </div>
</div>
<section>
    <div class="container mt-4">
        <div class="row col-md-6">
            <h4 class="text-center">Admin Credentials</h4>
            <form action="admin/admin-login" method="post">
                <div class="form-group">
                    <label for="">Admin ID</label>
                    <input type="email" name="email" class="form-control" id="" placeholder="">
                </div>
                <div class="form-group">
                    <label for="">Password</label>
                    <input type="password" name="password" class="form-control" id="" placeholder="">
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-danger mt-5 mb-3">Request</button>
                </div>
            </form>
        </div>
    </div>
</section>
