<section>
	<div class="container mt-4">
		<div class="row col-md-6 mt-5">
			<h4 class="text-center mb-3">Create New Account!</h4>
			<form action="/sign-up" method="post">
				<div class="form-group">
					<label for="">Name</label>
					<input type="text" name="name" class="form-control" id="" placeholder="">
				</div>
				<div class="form-group">
					<label for="">Email ID</label>
					<input type="email" name="email" class="form-control" id="" placeholder="">
				</div>

				<div class="form-group">
					<label for="">Password</label>
					<input type="password" name="password" class="form-control" id="" placeholder="">
				</div>
				<div class="form-group">
					<label for="">Phone No</label>
					<input type="tel" id="phone" name="number" class="form-control" id="" placeholder="">
				</div>
				<div class="text-center">
					<button type="submit" class="btn btn-danger mt-5 mb-3">Sign up</button>
				</div>

			</form>
			<div class="login-signup">
				<p>Already have a account? <a href="/login">Login</a></p>
			</div>
		</div>
	</div>
</section>